body{
  font-family:Tahoma;
}

*,*::before,*::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

[class^='grid-col-']{
  float:left;
}

/*for media screen size*/
@media (max-width:992px){
/*  .thumbnail {
    height:360px;
}*/

}

/*for small screen size*/
@media (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    #landing_section h3{
       font-size:24px;
    }
    #landing_section h4{
      font-size:18px;
    }
    #my_photo{
      width:200px;
      margin-top:15%;
    }  
    .thumbnail {
    /*min-height:350px;*/
}
    #email_input{
      padding:0;
    }
}


